@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Inconsolata:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Squada+One&display=swap');
body{
    background-image: url(https://media.istockphoto.com/id/591444854/vector/black-welcome-phrases-in-different-languages-on-white-seamless-pattern.jpg?s=612x612&w=0&k=20&c=Q9TikZdNPf2feX8ehX8cIC4D2SRwyW8i_mIaYLXvXmM=);
}
h1{
    color: chocolate;
    font-family: "SUSE Mono", sans-serif;
}
a{
    color: rgb(78, 7, 7);
    background-color: rgba(245, 222, 179, 0.500);
}
a:hover{
    color: rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 255, 0, 0.500);
}
a:active{
    color: rgba(0, 255, 34, 0.500);
    background-color: rgba(255, 255, 255, 0.500);
}
a:visited{
    color: rgb(78, 7, 7);
    background-color: rgba(245, 222, 179, 0.500);
}
.first{
    font-family: "Dancing Script", cursive;
}
.second{
    font-family: "Cedarville Cursive", cursive;
}
.third{
    font-family: "Squada One", sans-serif;;
}

