body{
    background-image: url(https://t4.ftcdn.net/jpg/03/61/52/11/360_F_361521180_mMN9HNjxBWBy4DV6nRqCgt23VtcFiscL.jpg);
}
h1{
    color: chocolate;
}
a{
    color: rgb(78, 7, 7);
    background-color: wheat;

}

